# Default owner for files not covered by a more specific rule.
* @angelayzheng

# Frontend application and tooling.
/frontend/ @laavanya-sahay @PyneKoyne

# Backend application, configuration, migrations, and dependencies.
/backend/ @angelayzheng @AngelsandDevsLOL @Eqraa-Khan

# Static data
/data/ @Eqraa-Khan @PyneKoyne

# Project documentation.
/docs/ @angelayzheng
